* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

:root {
    --primary-color: #B0C4DE;
    --secondary-color: #6fcedf;
    --accent1-color: #1f1c1c;
    --accent2-color: lightgray;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvatica, sans-serif;
    --primary-display: flex;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 170px 170px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px;
}

header img {
    width: 200px;
    height: auto;
}

.navigation {
    display: var(--primary-display);
    list-style: none;
    gap: 40px;
}

.navigation li {
    flex: 1 1 100%;
    white-space: nowrap;
}

.navigation a {
    display: block;
    color: var(--primary-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

h1,
h2 {
    text-align: center;
    font-family: var(--heading-font);
    padding: 1px;
    background-color: var(--accent1-color);
    color: var(--primary-color);

}

nav,
p,
section,
article {
    margin: 1px;
    padding: 8px;
}

.zerone {
    display: grid;
    grid-template-columns: 300px 150px 300px;
}

.zerone h2 {
    grid-column: 1/4;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

article {
    position: absolute;
    top: 270px;
    bottom: 607px;
    left: 310px;
    width: 500px;
    padding: 10px;
    opacity: 0.7;
    text-align: left;
}

.hero article img {
    float: right;
    width: 150px;
    height: 110px;
    box-shadow: 0 0 10px var(--secondary-color);
}

.figcaption {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px;
}

.figcaption h2 {
    grid-column: 1/6;
}

.figcaption img {
    position: relative;
    width: 150px;
}

figcaption {
    position: absolute;
    white-space: nowrap;
    top: 833px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 1px;
    margin-right: 1000px;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    font-family: var(--heading-font);
    padding: 1px;
}

.large {
    top: 892px;
}

footer {
    border-top: 1px solid var(--primary-color);
    display: var(--primary-display);
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 50px;
}