* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

:root {
    --primary-color: #B0C4DE;
    --secondary-color: #6fcedf;
    --accent1-color: #1f1c1c;
    --accent2-color: lightgray;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvatica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 179px;
    height: 142px;
}

h1,
h2 {
    text-align: center;
    font-family: var(--heading-font);
    padding: 1px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

article {
    position: absolute;
    bottom: 250px;
    left: 310px;
    width: 500px;
    padding: 10px;
    opacity: 0.7;
    text-align: left;
}

.hero article img {
    float: right;
    width: 150px;
    height: 110px;
    box-shadow: 0 0 10px var(--secondary-color);
}

footer {
    border-top: 1px solid var(--primary-color);
}

footer img {
    width: 80px;
}