* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2;
    color: #7bb8ea;
    background-color: #083533;
}

header {
    margin: 1.2px;
    padding: 2px;
    width: 550px;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #a1cdf2;
}

form {
    width: 450px;
    margin: auto;
    padding: 1.2px;
    border: 1px solid gray;
    border-radius: 0.2rem;
    background-color: #0a4340;
    display: grid;
}

fieldset {
    display: grid;
    gap: 3rem;
    margin: 1rem;
    border: 1px solid pink;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: aqua;
    font-size: 2rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 2px;
    font-size: large;
}

input[type="checkbox"] {
    width: 1rem;
    height: auto;
    vertical-align: bottom;
}

button {
    margin: 5px;
    background-color: #a1cdf2;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 3px;
    font-size: 17px;
}

button:hover {
    background-color: gray;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 1px;
}

footer {
    margin: 1px;
    border: 2rem;
    padding: 1rem;
    text-align: right;
    color: #a1cdf2;
}