* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.822);
    color: white;
}

h1 {
    margin: .5rem;
    text-align: center;
}

form {
    background-color: black;
    color: white;
}

input,
textarea,
select,
button {
    padding: 0.2rem;
    min-width: 300px;
}

button {
    background-color: red;
    color: #1b0b28;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 15px;
    font-size: 15px;
    display: block;

}

button:hover {
    color: yellow;
}

code {
    display: block;
    margin: 1.5px;
    background-color: rgb(217, 217, 95);
    color: black;
    text-align: center;
}

.box {
    margin: 1.3rem;
    border: 1rem solid black;
    padding: 1rem;
}

.quiz-item {
    border: none;
}