* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-width: 150px;
    --primary-height: auto;
    --primary-border: 1px solid black;
    --primary-padding: 2px:
}

nav {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* This id a comment */
nav a {
    color: white;
    display: block;
    padding: 15px;
    font-size: 1rem;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

h1 {
    color: darkblue;
    border-bottom: 1.5px solid darkblue;
}

main {
    grid-column: 2/3;
    margin: 0.1px;
}

main img {
    width: var(--primary-width);
    height: var(--primary-height);
    border: var(--primary-border);
    padding: var(--primary-padding);
    box-shadow: 0 0 30px #333;
    float: right;
    margin: 0 0 1rem 1 rem;
}

main a {
    display: flex;
    align-items: flex-start;
}

aside {
    width: 15rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside h2 {
    position: absolute;
    left: 37px;
    color: black;
}

aside img {
    width: 200px;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: lightblue;
    color: #333;
    height: var(--primary-height);
}

p {
    padding: 0px;
    margin: 1rem;
}

footer {
    margin-top: 1px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 100%);
    padding: 1rem;
    background-color: black;
    color: lightblue;
}