:root {
    --primary-width: 150px;
    --primary-height: auto;
    --primary-border: 1px solid black;
    --primary-padding: 2px:
}

nav {
    background-color: darkblue;
    padding: 10px;
}

/* This id a comment */
nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: var(--primary-border);
    height: var(--primary-height);
    border: var(--primary-border);
    padding: var(--primary-padding);
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}

main img {
    width: var(--primary-width);
    height: var(--primary-height);
    border: var(--primary-border);
    padding: var(--primary-padding);
    box-shadow: 0 0 30px #333
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: lightblue;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0px;
}

footer {
    margin-top: 1px;
    border-top: 1px solid black;
    text-align: center;
}