* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-width: 150px;
    --primary-height: auto;
    --primary-border: 1px solid black;
    --primary-padding: 2px:
}

nav {
    background-color: darkblue;
    padding: 10px;
}

/* This id a comment */
nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
}

main img {
    width: var(--primary-width);
    height: var(--primary-height);
    border: var(--primary-border);
    padding: var(--primary-padding);
    box-shadow: 0 0 30px #333;
    float: right;
    margin: 0 0 1rem 1 rem;
}

aside {
    width: 20rem;
    text-align: center;

}

aside h2 {
    position: absolute;
    left: 95px;
    color: black;
}

aside img {
    width: 200px;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: lightblue;
    color: #333;
    height: var(--primary-height);
}

p {
    padding: 0px;
    margin: 1rem;
}

footer {
    margin-top: 1px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 100%);
    padding: 1rem;
    background-color: black;
    color: lightblue;
}