body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 0.1px;
    text-align: center;
    font-size: 24px;
}

h1 {
    text-align: center;
}

img {
    filter: drop-shadow(5px 5px 25px rgba(0, 0, 0, 0.5));
    margin: 10px 140px;
    width: 320px;
}

h2 {
    border-bottom: 1px solid black;
    text-align: left;
}

section {
    box-sizing: border-box;
    width: 320px;
    margin: 20px 140px;
    border-left: 10px solid lightgray;
    border-right: 10px solid lightgray;
    padding: 1px;
    background-color: lightgray;
}

.text-01 {
    border-left: 15px solid lightgray;
}

.text-02 {
    border-right: 15px solid lightgray;
    text-align: left;
    font-size: 14px;
}

footer {
    background-color: black;
    color: white;
    padding: 0.1px;
    text-align: center;
    font-size: 15px;
}